@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

:root {
  --color-light: #dedede;
  --color-background: #30638e;
  --color-settings: #00798c;
  --color-buttons: #003d5b;
  --color-button-border: #12bbd5;
  --color-button-active: #edae49;
  --color-gridlines: #bbbbbb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  user-select: none;
}

body {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding-bottom: 50px;
  height: 100vh;
}

.title {
  margin: 0 auto;
  font-size: 5em;
  font-weight: 700;
  line-height: 100%;
  color: var(--color-light);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* SETTINGS STYLES */

.settings-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  background-color: var(--color-settings);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: var(--color-light);
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.1em;
}

.settings-container h2 {
  font-size: 1.2em;
  font-weight: 600;
}

.options p {
  font-weight: 400;
}

button {
  padding: 10px;
  background-color: var(--color-buttons);
  color: var(--color-light);
  border: 2px solid var(--color-button-border);
  border-radius: 10px;
  font-size: 1em;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.color-select:hover,
button:hover {
  filter: brightness(115%);
  transform: scale(1.05);
  transition: transform 0.1s ease;
}

button.active,
button:active {
  background-color: var(--color-button-active);
  color: var(--color-buttons);
  box-shadow: rgba(50, 50, 93, 0.25) 3px 3px 6px 0px inset,
    rgba(0, 0, 0, 0.3) -3px -3px 6px 1px inset;
}

/* COLOR OPTIONS */

.color-select-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

input[type="color"] {
  appearance: none;
  -webkit-appearance: none;
  width: 50%;
  height: 42px;
  border: none;
  border-radius: 12px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: 2px solid var(--color-button-border);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
input[type="color"]::-moz-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-moz-color-swatch {
  border: 2px solid var(--color-button-border);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* INPUT RANGE SLIDER STYLES  */

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 42px;
}

.slider-and-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  height: 25px;
  width: 100%;
  background-color: transparent;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  background: var(--color-buttons);
  border: 0px solid black;
  border-radius: 3px;
  box-shadow: 0px 0px 0px black;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -6px;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: var(--color-buttons);
  border: 2px solid var(--color-button-border);
  border-radius: 25px;
  box-shadow: 0px 0px 0px black;
  cursor: pointer;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--color-buttons);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 6px;
  background: var(--color-buttons);
  border: 0px solid black;
  border-radius: 3px;
  box-shadow: 0px 0px 0px black;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  appearance: none;
  -webkit-appearance: none;
  margin-top: -6px;
  width: 18px;
  height: 18px;
  background: var(--color-buttons);
  border: 2px solid var(--color-button-border);
  border-radius: 25px;
  box-shadow: 0px 0px 0px black;
  cursor: pointer;
}
input[type="range"]:focus::-moz-range-thumb {
  background: var(--color-buttons);
}

/* GRID CANVAS STYLES */

.grid-container {
  display: grid;
  width: 700px;
  height: 700px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cell {
  transition: background-color 0.5s ease, filter 0.5s ease;
  cursor: none;
}

.cell:hover {
  background-color: var(--color-gridlines) !important;
  border: 2px solid var(--color-button-active);
  transition: background-color 0s;
}

.cell.bordered {
  border: 1px solid var(--color-gridlines);
  margin-top: -1px;
  margin-left: -1px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
  bottom: 0;
  position: fixed;
  width: 100%;

  background-color: var(--color-buttons);
  border-top: 2px solid var(--color-button-border);
  font-size: 1.2em;
  font-weight: 400;
}

footer a,
footer a:hover,
footer a:visited,
footer a:active {
  color: var(--color-light);
  text-decoration: none;
}

footer i {
  height: 70%;
}
